body {
  margin: 0;
}
.hover-btn {
  transition: all 0.2s !important;
}
.hover-btn:hover {
  background-color: gray !important;
}
.card-hov {
  transition: all 0.4s !important;
}
.card-hov:hover {
  padding-bottom: 20px;
  padding-top: 20px;
}
@font-face {
  font-family: CostumBold;
  src: url("../public/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: CostumL;
  src: url("../public/fonts/Oswald-Light.ttf");
}
